
@{
    ViewData["Title"] = "Create";
}

<form class="row g-3 m-5" method="get" action="#">
        <div class="">
          <label for="staticEmail2" class="visually my-3 h3" name="Slider">New Slider URL</label>
          <input type="text" class="form-control border border-dark w-25" name="Slider" id="staticEmail2" >
        </div>
        <div class="">
          <button type="submit" class="btn btn-success mb-3">Confirm</button>
        </div>
</form>